
<h4>Contact me!</h4>
<hr />
<div class="socialLinks">

          @{

        var list = new List<KeyValuePair<string, string>>();

        list.Add(new KeyValuePair<string, string>("https://www.linkedin.com/in/joshua-grimaldo-545146207/", "LinkedIn"));
        list.Add(new KeyValuePair<string, string>( "https://github.com/jgrimaldo404", "GitHub"));

     
        @foreach(KeyValuePair<string, string> item in list){

            var idk = item.Key;
            var idk2 = item.Value;
            <p>Find me at <a class = "link-Text" href = "@idk" target = "_blank"> @idk2 </a>  </p>
       
        }
    }

        <!--  
        <form asp-action="ShowSearchResults">
            
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name = "SearchPhrase"class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
        -->



    
</div>

<div>
@*    <a asp-action="Index">Back to List</a>
*@</div>

