@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="myName">Joshua Grimaldo</h1>
   
      <button class="startButton" style="vertical-align:middle"> <a href="#aboutMe" class = "aboutMeButton"> <i class="fa fa-arrow-circle-down" aria-hidden="true"></i> </a></button>

      <div id="aboutMe">
    <h1>About Me</h1>

    @*<img src= "C:\Users\grima\source\repos\WebApplicationMVC\Views\Home\me.jpg" />

    <img src = "WebApplicationMVC/Views/Home/me.jpg"/>

    <img src = "../Views/Home/me.jpg"/>*@

    <img class = "meImage" src="https://media-exp1.licdn.com/dms/image/C4E03AQEsuZ4qBHXRJQ/profile-displayphoto-shrink_800_800/0/1635448620544?e=1646870400&v=beta&t=8HkPx_3h-RIInBy9kqOQ8MAuYMZo3hZkGLSoU8H6zJE"  alt="me">

    <div class = "aboutMeText">
    <p>Georgia Gwinnett College Alumni with a Bachelor of Science and major in software development.
        Proficient in Java, PHP, JavaScript, Python and other skills such as HTML/CSS, MySQL, OracleSQL. 
        Other skills like Git, GitHub, React.JS, JIRA. 
        I was able to gain lots of experience working in a team environment and working with other people on these projects. 
        I was able to work with software methodologies like waterfall and Agile/scrum during these projects.
        While working on these projects, I would always find myself leading the UI/UX and I loved the challenges that presented themselves with it.
        I’ve always found the experience of creating user friendly interfaces challenging but rewarding. </p>
  </div>

@*        <button class="goUpButton" <a href="#myName" class = "aboutMeButton"> <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> </a></button>
*@

  </div>
</div>
