@{
    ViewData["Title"] = "My Projects";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div class = "projectsText">
</div>

<div class = "projectsText">
    <h2> AniMaps (Spring 2021)</h2>
    <hr class = "hr1" />



    <h3>Tools</h3>
    <ul>
        <li>JavaScript</li>
        <li>React JS</li>
        <li>HTML</li>
         <li>CSS</li>
         <li>Firebase</li>
    </ul>


<p>Collaborated in a team to create a wildlife education web application. Utilizing an interactive map, visitors can quickly and easily access various details of each animal, including trivia. 
    My role in the project was lead UI/UX developer working to create/design the layout & components of the site for users to interact with.  </p>
</div>
<hr />

<div class = "projectsText">
    <h2> Grizzly Hacks Website (Spring 2020) </h2>
    <hr class = "hr1" />

    @section Test{
    
    "I am a test"
    
    }

    <h3>Tools</h3>
    <ul>
        <li>JavaScript</li>
        <li>React JS</li>
        <li>HTML</li>
         <li>CSS</li>
    </ul>
<p>Collaborated in a team to create a website for a Georgia Gwinnett College hackathon that utilizes React JS, CSS, HTML, JavaScript following the Agile methodology. My role in the team was lead UI/UX developer working on pages & components for the web application.    </p>
</div>
<hr />