@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

     ViewData["Title"] = "Skills";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>


    <p>@ViewData["Title"]</p>

    @{

        var courses =new List<string>()
        {
            
            "PHP",
            "CSS/HTML",
            "React.JS",
            "JavaScript"
        };

       <ul>@foreach(string course in courses){
        
        <li>@course</li>
        }
        </ul> 

    }

</head>
<body>
</body>
</html>
